# Created by https://www.toptal.com/developers/gitignore/api/macos,xcode,swift
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,xcode,swift

### macOS ###
.DS_Store
._*


### Xcode
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

### Other
tmp/